* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .footer{
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 50px;
      text-align: center;

  }
  h4{
    font-family: "Roboto", sans-serif;
      color: #000000;
      font-size: 15px;
      margin: auto;
  }

  .redes{
      display: flex;   
      align-self: center;   
      width: 100px;
      margin-top: 25px;
      justify-content: space-between;
   .face{
       width: 8px;
       
    }
   .twitter{
       width: 18px;
    }
    .instagram{
        width: 18px;
    } 
  }
   h3{
       font-size: 14px;
       font-family: "Roboto", sans-serif;
       color: #000000;
       letter-spacing: 0;
       line-height: 20px;
       margin-top: 47px; 
       margin-bottom: 28px;
   }
   .border_down{
    width: 100%;
    height: 5px;
    background-color: #572EE5;
  }